.fonts/.uuid
.fonts/*/.uuid
.fonts/*/*/.uuid
.fonts/joypixels-6.6-free-fonts/
.BurpSuite/burpbrowser/

cronfiles/date.txt
cronfiles/sucrontab.txt
config/joplin-desktop/cache/
config/joplin-desktop/resources/
config/joplin-desktop/tmp/
config/joplin-desktop/database.sqlite
config/joplin-desktop/log.txt
config/cherrytree/icons
config/cherrytree/*.tmp
config/PulseEffects/autoload
config/spacefm/*
config/tilda/*
config/lf/bookmarks
config/lf/marks

!config/spacefm/session
!config/tilda/config_0
.vim/plugged/
