[Desktop Entry]
Type=Application
Name=OpenSCQ30 Space One Auto-Configuration
Exec=/home/work/.local/bin/openscq30-simple-config-space-one.sh
Terminal=false
Categories=Audio;Settings;
StartupNotify=false
X-GNOME-Autostart-enabled=true
